/src/main/resources/public/bower_components
/target/classes/pe*
/target/classes/public
/target/classes/templates*
/node_modules
/src/main/resources/public/dist
.idea/*
spark-view.iml
.project
.settings
target
package-lock.json
.DS_Store
